.grid {
  width: 75%;
  margin: 50px auto;
  // text-align:justify;
  // @media (max-width: 960px) {
  //   column-count: 1;
  // }
}

.image-block {
  margin: 0 0 40px 0;
}

.image-itself-no-blur {
  border-radius:20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
  filter: none;
  transition: filter 0.3s ease-out;
}

.image-itself-blur {
  border-radius:20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
  filter: blur(20px);
  transition: none;
}
